<a href="https://colab.research.google.com/github/anjilakarkigit/dataVisualization/blob/main/exam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anjila karki, Exam 2

# CPSMA 4313

In [8]:
import requests
import pandas as pd
import numpy as np
import re

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv")
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [10]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1000 non-null   int64
 1   activity_day    1000 non-null   object
 2   workout_type    1000 non-null   object
 3   distance        1000 non-null   float64
 4   time            1000 non-null   int64
 5   calories        1000 non-null   int64
 6   total_steps     554 non-null    float64
 7   avg_speed       1000 non-null   float64
 8   avg_cadence     1000 non-null   float64
 9   max_cadence     1000 non-null   float64
 10  avg_pace        554 non-null    object
 11  max_pace        554 non-null    object
 12  min_pace        554 non-null    object
 13  avg_heart_rate  1000 non-null   float64
 14  max_heart_rate  1000 non-null   float64
 15  min_heart_rate  1000 non-null   int64
 16  vo2_max(%)      1000 non-null   int64
 17  aerobic(%)      1000 non-null   int64
 18  anaerobic(%)    1000 non-null   int64
 19  intensive(%)    1000 non-null   int64
 20  light(%)        1000 non-null   int64
dtypes: float64(7), int64(9), object(5)
memory usage: 164.2+ KB

In [12]:
df = df.drop(columns=['Unnamed: 0'])

In [13]:
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [14]:
cols = df.columns.map(lambda s: re.sub(r"[(.%)]","",s))
cols

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

In [15]:
pd.to_datetime(df.activity_day, format = '%Y-%m-%d')

0     2022-01-01
1     2022-01-01
2     2022-01-01
3     2022-01-01
4     2022-01-01
         ...
995   2022-02-14
996   2022-02-14
997   2022-02-14
998   2022-02-14
999   2022-02-14
Name: activity_day, Length: 1000, dtype: datetime64[ns]

In [16]:
df.total_steps.fillna(value=df.total_steps.min(), inplace = True)
df.head(10)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,2022-01-01,Outdoor Cycling,5.47,117,144,1571.0,2.20,43.47,291.67,NaN,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,2022-01-01,Indoor Cycling,6.28,66,378,1571.0,10.65,23.83,253.84,NaN,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,2022-01-01,Outdoor Running,2.94,26,430,7618.0,10.59,131.93,334.72,06:44,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,2022-01-01,Trail Run,2.87,26,465,2790.0,32.92,21.42,341.17,06:48,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,2022-01-01,Pool Swimming,3.91,23,99,1571.0,33.15,169.30,206.97,NaN,NaN,NaN,132.5,175.0,90,22,20,15,28,20

In [17]:
df['avg_pace'].dtype

dtype('O')

In [18]:
df['avg_pace'] = pd.DatetimeIndex(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60))
df['avg_pace'].head(10)

0         NaN
1         NaN
2         NaN
3    7.966667
4         NaN
5         NaN
6         NaN
7    6.733333
8    6.800000
9         NaN
Name: avg_pace, dtype: float64

In [19]:
df.groupby('workout_type')
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,7.966667,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [20]:
df.groupby('workout_type').calories.agg(['mean', 'median', 'count', 'std'])

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

In [21]:
df1 = df.loc[df['max_cadence'] == df['max_cadence'].max()]
print('maximum_cadence = ' + str(df['max_cadence'].max()))
print('workout_type = ' + df1.workout_type.iloc[0])
print('day_of_week = ' + df1.activity_day.dt.day_name().iloc[0])

maximum_cadence = 349.78
workout_type = Pool Swimming

AttributeError: ignored