<a href="https://colab.research.google.com/github/anjilakarkigit/dataVisualization/blob/main/SQL_Sub_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery --project data-visualization-class-sql
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

Finding the second most popular starting station,

In [ ]:
%%bigquery --project data-visualization-class-sql
SELECT MAX(start_station_name) as second_most_popular
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name != (SELECT MAX(start_station_name) as most_popular_start_station FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`)

                                 second_most_popular
0  Zilker Park at Barton Springs & William Barton...

Finding the number of trips that lasted over an hour and were a round trip started and stopped at the same station,

In [ ]:
%%bigquery --project data-visualization-class-sql
SELECT  COUNTIF(duration_minutes>60) as over_an_hour_duration ,COUNT( start_station_name) as number_of_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name

   over_an_hour_duration  number_of_trips
0                  54795           228339

Also counting the number of trips that lasted over an hour and were a round trip by station name.

In [ ]:
%%bigquery --project data-visualization-class-sql
SELECT  start_station_name as station_name,  COUNTIF(duration_minutes>60) as over_an_hour_duration, COUNT( start_station_name) as number_of_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
GROUP BY start_station_name

                                station_name  ...  number_of_trips
0                    Toomey Rd @ South Lamar  ...              633
1            State Capitol @ 14th & Colorado  ...              910
2                           Waller & 6th St.  ...              583
3                                 Pease Park  ...              167
4    Capital Metro HQ - East 5th at Broadway  ...              635
..                                       ...  ...              ...
179    Republic Square @ Guadalupe & 4th St.  ...             1090
180                               3rd & West  ...             2002
181                                 3rd/West  ...              816
182                              26th/Nueces  ...              607
183                            Nueces & 26th  ...             1425

[184 rows x 3 columns]