<a href="https://colab.research.google.com/github/anjilakarkigit/dataVisualization/blob/main/SQL_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##SQL Joins

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
%%bigquery --project data-visualization-class-sql
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

In [21]:

%%bigquery --project data-visualization-class-sql
SELECT name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT 10

                                        name         property_type
0                                 Pease Park                  None
1                            Republic Square                  None
2                           Waller & 6th St.                  None
3            Bullock Museum @ Congress & MLK                  None
4            State Capitol @ 14th & Colorado                  None
..                                       ...                   ...
95                         23rd & Rio Grande  undetermined_parking
96            South Congress @ Bouldin Creek  undetermined_parking
97  MoPac Pedestrian Bridge @ Veterans Drive  undetermined_parking
98                    Dean Keeton & Speedway  undetermined_parking
99                      Dean Keeton & Whitis  undetermined_parking

[100 rows x 2 columns]

In [25]:
%%bigquery --project data-visualization-class-sql

SELECT station.name, station.property_type, trips.duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`as trips LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations` as station
      ON trips.start_station_name= station.name

LIMIT 4

                      name property_type  duration_minutes
0         Zilker Park West          None                39
1  Toomey Rd @ South Lamar          None                31
2  Toomey Rd @ South Lamar          None                31
3  Toomey Rd @ South Lamar          None                30

In [29]:
%%bigquery --project data-visualization-class-sql

SELECT  station.property_type, AVG(trips.duration_minutes ) as avergaetime
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`as trips LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_stations` as station
      ON trips.start_station_name= station.name
      GROUP BY  property_type

          property_type  avergaetime
0                  None    38.339652
1  undetermined_parking    23.098028
2              sidewalk    29.263569
3    nonmetered_parking    49.046326
4          paid_parking    25.852535
5              parkland    39.375957
6                          33.502832