<a href="https://colab.research.google.com/github/anjilakarkigit/dataVisualization/blob/main/sqlEssentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##SQL Essentials

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [29]:
%%bigquery --project data-visualization-class-sql
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

I am going to get the average time for a trip based on starting point using a GROUP BY command.

In [33]:
%%bigquery --project data-visualization-class-sql
SELECT  start_station_name, AVG(duration_minutes) as avg_duration
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name

                        start_station_name  avg_duration
0                         Zilker Park West     27.168259
1                  Toomey Rd @ South Lamar     28.115798
2          State Capitol @ 14th & Colorado     30.421842
3                         Waller & 6th St.     23.265843
4                               Pease Park     28.648889
..                                     ...           ...
188  Republic Square @ Guadalupe & 4th St.     23.067313
189                             3rd & West     19.937466
190                               3rd/West     34.152547
191                          Nueces & 26th     16.805353
192                            26th/Nueces     24.521670

[193 rows x 2 columns]

In [35]:
%%bigquery --project data-visualization-class-sql
SELECT start_station_name, COUNT( start_station_name) as start_station_count
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY start_station_count DESC

           start_station_name  start_station_count
0        21st & Speedway @PCL                72799
1        Riverside @ S. Lamar                40635
2    City Hall / Lavaca & 2nd                36520
3              2nd & Congress                35307
4        Rainey St @ Cummings                34758
..                        ...                  ...
188           Marketing Event                    4
189             Eeyore's 2018                    2
190                    Stolen                    1
191             Eeyore's 2017                    1
192     cesar Chavez/Congress                    1

[193 rows x 2 columns]